html {
    background-image: url("res/bg.png");
    background-repeat: repeat;
    padding: 2%;
}

body {
    background-color: #080808;
    color: #eeeeee;
    padding: 4%;
    font-family: sans-serif;
    width: 80ch;
    margin: 0 auto;
}

h1 {
    font-family: monospace;
    padding-bottom: 3%;
    text-align: center;
}

h2, h3, h4 {
    text-align: center;
    border-bottom: 2px solid #444444;
}

table {
    border-spacing: 6px;
}

a:link, a:visited, a:hover, a:active {
    color: #00ffcc;
    text-decoration: none;
}

code {
    color: #ffffbb;
}

.codelong {
    display: block;
    white-space: pre-wrap;
}
