html {
    background-color: #080808;
    color: #eeeeee;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: sans;
}

h1 {
    padding-bottom: 3%;
    text-align: center;
}

h2, h3 {
    text-align: center;
    border-bottom: 2px solid #444444;
}

table {
    border-spacing: 6px;
}

a:link, a:visited, a:hover, a:active {
    color: #00ffcc;
    text-decoration: none;
}

code {
    color: #ffffbb;
}

.codelong {
    display: block;
    white-space: pre-wrap;
}
