@font-face {
	font-family: "Hello Note";
	font-style: normal;
	src: url("/res/font/hellonote.woff") format("woff");
}

@font-face {
	font-family: "Splashpoint";
	font-style: normal;
	src: url("/res/font/splashpoint.woff") format("woff");
}

@font-face {
	font-family: "Splashpoint";
	font-style: italic;
	src: url("/res/font/splashpointital.woff") format("woff");
}

html {
	background-image: url("/res/cliff_watcher.png");
	padding-top: 80px;
	padding-bottom: 80px;
}

body {
	background-color: #e8e8e8;
	border: 4px solid #cecece;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	font-size: 180%;
}

h1 {
	font-size: 80pt;
	font-family: "Splashpoint";
}

h2 {
	font-size: 50pt;
	font-family: "Hello Note";
}

h1, h2 {
	padding: 15px;
	padding-bottom: 30px;
	margin: 0px;
	font-weight: bold;
	color: #000000;
	background-color: #cecece;
	margin-left: -20px;
	margin-right: -20px;
	border-top: 30px solid #e8e8e8;
	border-bottom: 30px solid #e8e8e8;
}

p {
	margin: 0 auto;
	font-family: "Hello Note";
	padding: 10px;
}

button {
	font-family: monospace;
}

.CanvasContainer {
	border: 5px solid #000000;
	border-top: 12px solid #000000;
	border-left: 12px solid #000000;
	border-right: 12px solid #000000;
	margin-top: 10px;
	width: fit-content;
	height: fit-content;
	background-color: #000000;
}
